fastapi
python-dotenv
uvicorn
psycopg2-binary
redis
pydantic
langchain
langchain-core
langchain-openai
langchain-google-genai
langgraph
langgraph-checkpoint
langgraph-checkpoint-postgres
langgraph-cli
langgraph-prebuilt
langgraph-sdk
langsmith
openai
qdrant-client
sentence-transformers
requests
torch
transformers
langfuse